<ng-container>
<main>
  <div class="section_1">
     <div class = "box_1">
      <div class="tagline">
      <p class="name_1" style="color: #E3371D;">Mingo <br> <span class="name_2" style="color: #27356E;"> Система онлайн рассрочки для Ваших клиентов</span><br>
        <span class="name_3"> Выгодно бизнесу — удобно покупателям</span></p>
      </div>
      <button class="Partnership">Стать партнером</button>
      </div>
    <div  class = "box_2">
      <ul class="benefits">
        <div class="benefit">
          <img class="benefit_img" src="assets/images/1.png"/>
          <li class="benefit_text">Клиент выбирает товар в вашем магазине</li>
        </div>
        <div class="benefit">
          <img class="benefit_img" src="assets/images/2.png"/>
          <li class="benefit_text">Получает ссылку от кассира</li>
        </div>
        <div class="benefit">
          <img class="benefit_img" src="assets/images/3.png"/>
          <li class="benefit_text">Проходит анкетирование с телефона</li>
        </div>
        <div class="benefit">
          <img class="benefit_img" src="assets/images/4.png"/>
          <li class="benefit_text">Подписывает документы онлайн и забирает товар</li>
        </div>
    </ul>
    </div>
  </div>
</main>
  <section>
    <div class="pros">
      <div class="container_1">
        <p class="card_title">Средний чек</p>
        <p class="card_percent">+38%</p>
        <p class="card_desc">Увеличение среднего чека, доступность к более дорогим товарам и дополнительным покупкам</p>
      </div>
      
      <div class="container_1">
        <p class="card_title">Увеличение конверсии</p>
        <p class="card_percent">+37%</p>
        <p class="card_desc">Увеличение конверсий в продажи, при возможности нескольких видов оплат</p>
      </div>
      
      <div class="container_1">
        <p class="card_title">Чистая прибыль</p>
        <p class="card_percent">+40%</p>
        <p class="card_desc">Прирост чистой прибыли используя инструменты аналитики</p>
      </div>
    </div>
  </section>
  <section>
    <div class="reasons">
    <div class="reason_1">
            <div class="reason_text">
              <p class="m_o">Моментальное одобрение</p>
              <p class="desc">Специалисты рассмотрят вашу заявку в кратчайшие сроки </p>
            </div>
            <div class="reason_img">
              <img class="time" src="assets/images/20943611.png"/>
            </div>
          </div>
      <div class="reason_1">
        <div class="reason_img">
          <img class="time" src="assets/images/4445.jpg"/>
        </div>  
        <div class="reason_text">
          <p class="a_p">Анализ продаж и прогнозирование выручки с помощью нашей системы аналитики</p>
          <p class="desc_2">Система проанализует и поможет с прогнозированием чтобы не возникало с этим никаких трудностей</p>
        </div>
      </div>
          <div class="reason_1">
            <div class="reason_text">
              <p class="m_o">Обучение продажам, закрепление персонального менеджера</p>
              <p class="desc_3">Вас научат пользоваться сервисом специально подобранный персональный менеджер</p>
            </div>
            <div class="reason_img">
              <img class="time" src="assets/images/6461.jpg"/>
            </div>
          </div>
          <div class="send_message">
            <img class="send_effect_1" src="assets/images/Button.png"/>
            <button class="send">Оставить заявку</button>
            <img class="send_effect_2" src="assets/images/Button.png"/>
          </div>
    </div>
      
  </section>
  <section>
      
      <div class="steps">
        <p class="how">Как это работает?</p>
        <ul class="steps_number">
          <li class="big_step">
            <img class="step_img" src="assets/images/step1.png"/>
            <p class="step_title">Отправьте заявку</p>
            <p class="step_desc">Оперативное рассмотрение заявок</p>
          </li>
          <li class="big_step">
            <img class="step_img" src="assets/images/step2.png"/>
            <p class="step_title">Подпишите договор</p>
            <p class="step_desc">Мы подключим вас и настроим личный кабинет</p>
          </li>
          <li class="big_step">
            <img class="step_img" src="assets/images/step3.png"/>
            <p class="step_title">Обучение сотрудников</p>
            <p class="step_desc">Научим сотрудников правильно пользоваться сервисом</p>
          </li>
          <li class="big_step">
            <img class="step_img" src="assets/images/step4.png"/>
            <p class="step_title">Увеличивайте продажи</p>
            <p class="step_desc">Повышение лояльности и удержание клиентов</p>
          </li>
        </ul>
        <div class="arrow"></div>
      </div>
  </section>
  <section>
    <div class="partnership_section">
          <p class="partnership_title">Партнерская программа</p>
          <ul class="installment_plan">
            <li class="month">
              <p class="installment">Рассрочка</p>
              <p class="month_count">3</p>
              <p class="installment">месяца</p>
            </li>
            <li class="month">
              <p class="installment">Рассрочка</p>
              <p class="month_count">6</p>
              <p class="installment">месяцев</p>
            </li>
            <li class="month">
              <p class="installment">Рассрочка</p>
              <p class="month_count">9</p>
              <p class="installment">месяцев</p>
            </li>
            <li class="month">
              <p class="installment">Кредит на</p>
              <p class="month_count">12</p>
              <p class="installment">месяцев</p>
            </li>
          </ul>
          <div class="partnership_commission">
            <img class="partnership_arrow" src="assets/images/arrow.png" alt="">
          </div>
          <div class="commission">
            <p class="comm_percent">8%</p>
          <p class="comm_text">комиссия<br/> 
            Mingo</p>
          </div>
    </div>
  </section>
  <section>
    <div class="registry_section">
      <div class="registry_box">
        <div class="registry_title">
          <p class="connect">Подключиться к рассрочке </p>
          <p class="connect_mingo">Mingo</p>
        </div>
        <div class="registry_input">
          <div class="FIO_and_phone">
            <div class="registry-input">
              <input class="FIO" type="text" placeholder="ФИО">
            </div>
              <div class="registry-input">
                <input class="FIO" type="text" placeholder="ИИН/БИН">
              </div>
            </div>
          <div class="phone_and_city"> 
            <div class="registry-input">
              <select name="cities" class="FIO">
                  <option value="choose">Выберите город</option>
                  <option value="Astana">Astana</option>
                  <option value="Almaty">Almaty</option>
                  <option value="Shymkent">Shymkent</option>
                  <option value="Balkhash">Balkhash</option>
                </select>
            </div>
              <div class="registry-input">
                <input class="FIO" type="text" placeholder="Номер телефона">
              </div>
            </div>
        </div> 
           <div class="agreement">
              <input class="agreement_checkbox" type="checkbox" name="agree">
              <label class="agreement_text" for="agree">Предоставляю согласие на сбор, обработку и хранение персональных <br> данных</label>
            </div>
            <button class="send_registry">Оставить заявку</button>
            <div class="under_registry">
              <img class="clock" src="assets/images/часы.png" alt="">
              <div class="agreement_text_5min">
                <p class="agreement_5min">В течении<span class="min5"> 5 минут </span>с Вами свяжутся и ответят на все вопросы</p>
                
                <p class="agreement_5min"></p>
              </div>
              </div>
            
      </div>
    </div>
  </section>

</ng-container>